<a href="https://colab.research.google.com/github/ivandwinugraha/Data-Maining/blob/main/Tugas_Praktikum_Modul_2_Penggalian_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download data dibawah ini (1 Poin)<br>
NIM Ganjil : (https://www.kaggle.com/gregorut/videogamesales) <br>
NIM Genap : (https://www.kaggle.com/muthuj7/weather-dataset)

In [1]:
### tulis kode disini
from google.colab import drive
drive.mount('/content/drive')
kaggle datasets download -d muthuj7/weather-dataset

SyntaxError: ignored

In [ ]:
### tulis kode disini

describe data tersebut **(10 Poin)** dan jelaskan pada asisten.

In [ ]:
### tulis kode disini

Tampilkan head dan tail dari data tersebut **(5 Poin)**

In [ ]:
### tulis kode disini

tampilkan nama column dari data tersebut **(2 Poin)**

In [ ]:
### tulis kode disini

drop column yang tidak diperlukan, dan jelaskan kepada asisten kenapa kolom tersebut tidak diperlukan **(15 Poin)**

In [ ]:
### tulis kode disini

tampilkan head data setelah ada kolom yang dihapus **(5 Poin)**

In [ ]:
### tulis kode disini

cek data apakah ada yang null **(5 Poin)**

In [ ]:
### tulis kode disini

lakukan cleaning data, dan jelaskan pada asisten proses cleaning data tersebut **(20 Poin)**

In [ ]:
### tulis kode disini

tampilkan data setelah dilakukan cleaning **(5 Poin)**

In [ ]:
### tulis kode disini

analisis data tersebut, dan tampilkan minimal 3 chart dari data tersebut **(30 Poin)** serta jelaskan kepada asisten mengenai chart yang kalian buat dan informasi apa yang bisa kalian dapatkan

In [ ]:
### tulis kode disini